<section>
    <div class="footer">
        <nav>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">men</a></li>
                <li><a href="#">women</a></li>
                <li><a href="#">kids</a></li>
            </ul>
        </nav>
        <p>This shop was developed by <strong> Pacifique Twagirayesu</strong> &copy; {{time}} </p>
        <div class="social">
            <a href="#"><img src="../../../assets/skill-icons_instagram.svg" alt="ig"></a>
            <a href="#"><img src="../../../assets/logos_facebook.svg" alt="ig"></a>
            <a href="#"><img src="../../../assets/devicon_twitter.svg" alt="ig"></a>

        </div>
    </div>
</section>