<ng-container *ngIf="userProfile$ | async as data">
    <div class="p-3 mt-3 ml-3">
        <button (click)="handleAccountProfile()" [ngClass]="{'active': isAccountProfile}"
            class="bg-[#f4f4g5] ring-1 ring-green-900 p-3 mx-3 rounded-lg ml-[4.5rem] shadow-md shadow-gray-400">
            Account Details</button>
        <button (click)="handleAccountOrders()" [ngClass]="{'active': isTransactions}"
            class="bg-[#f4f4g5] font-bold ring-1 ring-green-900 p-3 mx-3 rounded-lg shadow-md shadow-gray-400">Transactions</button>
    </div>
    <div *ngIf="isSuccessMessage" class="successMessage relative">
        <h1 class="absolute">{{successMessage}}</h1>
    </div>

    <div *ngIf="isTransactions" class="bg-[#fff] shadow-lg rounded-md shadow-gray-400 w-[90%] mx-auto p-[2rem]">
        <h1 class="text-[3rem] font-[600] mt-[-2rem] ml-1">Orders</h1>
        <div class="action-filter">
            <button (click)="handleCompletedOrders()" [ngClass]="{'router-link-active': isCompletedAction}"
                class="bg-[#f4f4g5] hover:bg-green-900 hover:text-[#f4f4f5] ring-1 ring-green-900 p-3 mx-3 rounded-lg shadow-md shadow-gray-400">Completed</button>
            <button (click)="handleCancelledOrders()" [ngClass]="{'router-link-active': isCancelledAction}"
                class="bg-[#f4f4g5] hover:bg-green-900 hover:text-[#f4f4f5] ring-1 ring-green-900 p-3 mx-3 rounded-lg shadow-md shadow-gray-400">Canceled</button>
            <button (click)="handleToReceiveOrders()" [ngClass]="{'router-link-active': isToReceiveAction}"
                class="bg-[#f4f4g5] hover:bg-green-900 hover:text-[#f4f4f5] ring-1 ring-green-900 p-3 mx-3 rounded-lg shadow-md shadow-gray-400">To
                Recieve</button>
        </div>
        <table class="table-auto">
            <!--table head-->
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Items</th>
                    <th>Total Price</th>
                    <th>Created At</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <!--table body-->
            <tbody>
                <tr class="spaceUnder shadow-md rounded-lg shadow-gray-400">
                    <td>250</td>
                    <td>
                        <img src="../../../assets/pair-trainers-min-PhotoRoom.png-PhotoRoom.png" alt="image-product"
                            class="img-center">
                    </td>
                    <td class="product-name">Product Name</td>
                    <td>Men</td>
                    <td>34</td>
                    <td>$200</td>
                    <td>12/11/2023</td>
                    <td class="marker">
                        <div *ngIf="!isMarkerComplete" class="flex items-center justify-center"> <svg width="15"
                                height="15" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#2D744B" />
                            </svg>
                            <p class="mx-1 text-green-600">Completed</p>
                        </div>
                        <div *ngIf="isMarkerToReceive" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#D9D9D9" />
                            </svg>

                            <p class="mx-1 text-gray-400">In Progres</p>
                        </div>
                        <div *ngIf="isMarkerToReceive" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="3.5" cy="4" r="3.5" fill="#1A56DB" />
                            </svg>

                            <p class="mx-1 text-[#1A56DB]">To Recieve</p>
                        </div>
                        <div *ngIf="isMarkerCanceled" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#FF543E" />
                            </svg>

                            <p class="mx-1 text-[#FF1D00]">Cancelled</p>
                        </div>
                    </td>
                    <td>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M7.345 4.017a42.253 42.253 0 0 1 9.31 0c1.713.192 3.095 1.541 3.296 3.26a40.66 40.66 0 0 1 0 9.445a3.734 3.734 0 0 1-3.296 3.26a42.123 42.123 0 0 1-9.31 0a3.734 3.734 0 0 1-3.296-3.26a40.652 40.652 0 0 1 0-9.444a3.734 3.734 0 0 1 3.295-3.26ZM8.47 8.47a.75.75 0 0 1 1.06 0L12 10.94l2.47-2.47a.75.75 0 1 1 1.06 1.06L13.06 12l2.47 2.47a.75.75 0 0 1-1.06 1.06L12 13.06l-2.47 2.47a.75.75 0 1 1-1.06-1.06L10.94 12L8.47 9.53a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr class="shadow-md rounded-lg">
                    <td>250</td>
                    <td>
                        <img src="../../../assets/pair-trainers-min-PhotoRoom.png-PhotoRoom.png" alt="image-product"
                            class="img-center">
                    </td>
                    <td class="product-name">Product Name</td>
                    <td>Men</td>
                    <td>34</td>
                    <td>$200</td>
                    <td>12/11/2023</td>
                    <td class="marker">
                        <div *ngIf="isMarkerComplete" class="flex items-center justify-center"> <svg width="15"
                                height="15" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#2D744B" />
                            </svg>
                            <p class="mx-1 text-green-600">Completed</p>
                        </div>
                        <div *ngIf="isMarkerToReceive" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#D9D9D9" />
                            </svg>

                            <p class="mx-1 text-gray-400">In Progres</p>
                        </div>
                        <div *ngIf="isMarkerToReceive" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="3.5" cy="4" r="3.5" fill="#1A56DB" />
                            </svg>

                            <p class="mx-1 text-[#1A56DB]">To Recieve</p>
                        </div>
                        <div *ngIf="!isMarkerCanceled" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#FF543E" />
                            </svg>

                            <p class="mx-1 text-[#FF1D00]">Cancelled</p>
                        </div>
                    </td>
                    <td>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M7.345 4.017a42.253 42.253 0 0 1 9.31 0c1.713.192 3.095 1.541 3.296 3.26a40.66 40.66 0 0 1 0 9.445a3.734 3.734 0 0 1-3.296 3.26a42.123 42.123 0 0 1-9.31 0a3.734 3.734 0 0 1-3.296-3.26a40.652 40.652 0 0 1 0-9.444a3.734 3.734 0 0 1 3.295-3.26ZM8.47 8.47a.75.75 0 0 1 1.06 0L12 10.94l2.47-2.47a.75.75 0 1 1 1.06 1.06L13.06 12l2.47 2.47a.75.75 0 0 1-1.06 1.06L12 13.06l-2.47 2.47a.75.75 0 1 1-1.06-1.06L10.94 12L8.47 9.53a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr class="shadow-md rounded-lg">
                    <td>250</td>
                    <td>
                        <img src="../../../assets/pair-trainers-min-PhotoRoom.png-PhotoRoom.png" alt="image-product"
                            class="img-center">
                    </td>
                    <td class="product-name">Product Name</td>
                    <td>Women</td>
                    <td>34</td>
                    <td>$200</td>
                    <td>12/11/2023</td>
                    <td class="marker">
                        <div *ngIf="isMarkerComplete" class="flex items-center justify-center"> <svg width="15"
                                height="15" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#2D744B" />
                            </svg>
                            <p class="mx-1 text-green-600">Completed</p>
                        </div>
                        <div *ngIf="!isMarkerToReceive" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#D9D9D9" />
                            </svg>

                            <p class="mx-1 text-gray-400">In Progres</p>
                        </div>
                        <div *ngIf="isMarkerToReceive" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="3.5" cy="4" r="3.5" fill="#1A56DB" />
                            </svg>

                            <p class="mx-1 text-[#1A56DB]">To Recieve</p>
                        </div>
                        <div *ngIf="isMarkerCanceled" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#FF543E" />
                            </svg>

                            <p class="mx-1 text-[#FF1D00]">Cancelled</p>
                        </div>
                    </td>
                    <td>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M7.345 4.017a42.253 42.253 0 0 1 9.31 0c1.713.192 3.095 1.541 3.296 3.26a40.66 40.66 0 0 1 0 9.445a3.734 3.734 0 0 1-3.296 3.26a42.123 42.123 0 0 1-9.31 0a3.734 3.734 0 0 1-3.296-3.26a40.652 40.652 0 0 1 0-9.444a3.734 3.734 0 0 1 3.295-3.26ZM8.47 8.47a.75.75 0 0 1 1.06 0L12 10.94l2.47-2.47a.75.75 0 1 1 1.06 1.06L13.06 12l2.47 2.47a.75.75 0 0 1-1.06 1.06L12 13.06l-2.47 2.47a.75.75 0 1 1-1.06-1.06L10.94 12L8.47 9.53a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr class="spaceUnder shadow-md rounded-lg shadow-gray-400">
                    <td>250</td>
                    <td>
                        <img src="../../../assets/pair-trainers-min-PhotoRoom.png-PhotoRoom.png" alt="image-product"
                            class="img-center">
                    </td>
                    <td class="product-name">Product Name</td>
                    <td>Men</td>
                    <td>34</td>
                    <td>$200</td>
                    <td>12/11/2023</td>
                    <td class="marker">
                        <div *ngIf="isMarkerComplete" class="flex items-center justify-center"> <svg width="15"
                                height="15" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#2D744B" />
                            </svg>
                            <p class="mx-1 text-green-600">Completed</p>
                        </div>
                        <div *ngIf="isMarkerToReceive" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#D9D9D9" />
                            </svg>

                            <p class="mx-1 text-gray-400">In Progres</p>
                        </div>
                        <div *ngIf="!isMarkerToReceive" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="3.5" cy="4" r="3.5" fill="#1A56DB" />
                            </svg>

                            <p class="mx-1 text-[#1A56DB]">To Recieve</p>
                        </div>
                        <div *ngIf="isMarkerCanceled" class="flex items-center justify-center">
                            <svg width="15" height="15" viewBox="0 0 7 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle id="Ellipse 3" cx="3.5" cy="4" r="3.5" fill="#FF543E" />
                            </svg>

                            <p class="mx-1 text-[#FF1D00]">Cancelled</p>
                        </div>
                    </td>
                    <td>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M7.345 4.017a42.253 42.253 0 0 1 9.31 0c1.713.192 3.095 1.541 3.296 3.26a40.66 40.66 0 0 1 0 9.445a3.734 3.734 0 0 1-3.296 3.26a42.123 42.123 0 0 1-9.31 0a3.734 3.734 0 0 1-3.296-3.26a40.652 40.652 0 0 1 0-9.444a3.734 3.734 0 0 1 3.295-3.26ZM8.47 8.47a.75.75 0 0 1 1.06 0L12 10.94l2.47-2.47a.75.75 0 1 1 1.06 1.06L13.06 12l2.47 2.47a.75.75 0 0 1-1.06 1.06L12 13.06l-2.47 2.47a.75.75 0 1 1-1.06-1.06L10.94 12L8.47 9.53a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-footer">
            <div>
                <h1 class="font-[-500] text-[2rem]">Total Spend : <strong>$700</strong></h1>
            </div>
            <div class="purhase-pagination bg-[#fff] shadow-md p-4 shadow-gray-400 rounded-lg">
                <button class="p-3 bg-[#fff] font-bold shadow-lg shadow-gray-500">PREV</button>
                <span class="mx-3 text-xl font-bold  align-center">1</span>
                <button class="p-3 font-bold  shadow-lg shadow-gray-400">NEXT</button>
            </div>
        </div>
    </div>

    <div *ngIf="isAccountProfile" class="acount-details">
        <h1>Acount Details</h1>
        <app-delete-modal *ngIf="isDeleteAccount" [isDeleting]="data.isDeleting"
            (deleteEvent)="deleteAccountHandler($event)"
            (cancelEvent)="cancelDeleteAccountHandler($event)"></app-delete-modal>
        <div class="profile bg-white shadow-md shadow-gray-400 rounded-md p-[2rem]">
            <div class="img-profile-details">
                <div class="left">
                    <div *ngIf="!isUpdateAccount" class="img-fiels">
                        <img *ngIf="data.profile?.profile" [src]="data.profile?.profile" alt="profile" width="25%"
                            height="60%">
                        <img *ngIf="!data.profile?.profile"
                            src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg"
                            alt="profile" width="25%" height="60%">
                        <form>
                            <input disabled [value]="data.profile?.firstName" type="text" placeholder="first name">
                            <input disabled [value]="data.profile?.lastName" type="text" placeholder="last name">
                            <input disabled [value]="data.profile?.email" type="text" placeholder="email">
                            <input disabled [value]="data.profile?.address" type="text" placeholder="address">
                        </form>
                    </div>
                    <div *ngIf="isUpdateAccount" class="img-fiels">
                        <img *ngIf="data.profile?.profile" [src]="data.profile?.profile" alt="profile" width="25%"
                            height="60%">
                        <img *ngIf="!data.profile?.profile"
                            src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg"
                            alt="profile" width="25%" height="60%">
                        <form [formGroup]="updateUserForm" (ngSubmit)="onSaveUpdate(data.profile?.id)">
                            <input
                                [ngClass]="{error:fc.firstName.touched && fc.firstName.invalid,success:fc.firstName.valid,touched:!fc.firstName.touched}"
                                formControlName="firstName" name="firstName" [ngClass]="{isNotUpdate:!isUpdateAccount}"
                                type="text" placeholder="first name">
                            <input
                                [ngClass]="{error:fc.lastName.touched && fc.lastName.invalid,success:fc.lastName.valid,touched:!fc.lastName.touched}"
                                formControlName="lastName" name="lastName" [ngClass]=" {isNotUpdate:!isUpdateAccount}"
                                type="text" placeholder="last name">
                            <input [disabled]="true" [value]="data.profile?.email" type="text" placeholder="email">
                            <input
                                [ngClass]="{error:fc.address.touched && fc.address.invalid,success:fc.address.valid,touched:!fc.address.touched}"
                                name="address" formControlName="address" [ngClass]="{isNotUpdate:!isUpdateAccount}"
                                type="text" placeholder="address">
                            <div class="update-actions relative">
                                <p class="absolute bottom-[3.5rem]"
                                    [ngStyle]="{'color':isWrongFile ? 'red':'seagreen'}">
                                    {{fileMessage}}</p>
                                <label *ngIf="isUpdateAccount"
                                    class="shadow-md shadow-gray-400 rounded-md ring-1 ring-green-900 m-2"
                                    for="img-p">Change
                                    Profile
                                    Picture</label>
                                <input type="file" id="img-p" (change)="profileImageHandler($event)" accept="image/*">
                                <input type="submit" [disabled]="updateUserForm.invalid"
                                    [ngClass]="{valid:updateUserForm.valid,invalid:updateUserForm.invalid||isWrongFile}"
                                    *ngIf="isUpdateAccount" value="Save" />
                                <button (click)="cancelAccountUpdate()" type="button">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <app-change-password (successMessageEvent)="changePasswordSuccess($event)"
                        (passwordUpdateEvent)="hidePasswordUpdateHandler($event)"
                        *ngIf="isUpdatePasword"></app-change-password>
                    <div class="p-3">
                        <button (click)="updateAccount()"
                            class="update shadow-md shadow-gray-400 rounded-md ring-1 ring-green-900 m-2 hover:ring-[#f4f4f5]">Update
                            Account</button>
                        <button (click)="changeUserPassword()"
                            class="change shadow-md shadow-gray-400 rounded-md ring-1 ring-green-900 m-2 hover:ring-[#f4f4f5]">ChangePassword
                            Account</button>
                        <button (click)="deleteAccount()"
                            class="delete shadow-md shadow-gray-400 rounded-md ring-1 ring-green-900 m-2 hover:ring-[#f4f4f5]">Delete
                            Account</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>