<div class="password-reset">
    <div>
        <h1>Reset Password</h1>
    </div>
    <div class="message flex flex-col">
        <h1 [ngClass]="{'success':isSuccess,'error':isError}">{{message}}</h1><br>
        <p *ngIf="isError">Cliclk <button (click)="requestNewTokenHandler()"
                class="p-2 ring-1 ring-800-green text-xl shadow-md rounded-md">Here</button>
            to request
            a new
            token</p>
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="field">
                <div *ngIf="fc.password.touched && fc.password.invalid">
                    <p *ngIf="fc.password.errors?.required">Password Required</p>
                    <p *ngIf="fc.password.errors?.minlength">Password length should be greater than 6 characters</p>
                </div>
                <input
                    [ngClass]="{error:fc.password.touched && fc.password.invalid,success:fc.password.valid, touched:!fc.password.touched}"
                    name="password" formControlName="password" type="password" placeholder="Password">
            </div>

            <div class="field">
                <div *ngIf="fc.confirmPassword.touched && fc.confirmPassword.invalid">
                    <p *ngIf="fc.confirmPassword.errors?.required">Confirm Password Required</p>
                    <p *ngIf="fc.confirmPassword.errors?.confirmedValidator">Password don't match</p>
                </div>
                <input
                    [ngClass]="{error:fc.confirmPassword.touched && fc.confirmPassword.invalid,success:fc.confirmPassword.valid, touched:!fc.confirmPassword.touched}"
                    name="confirmPassword" formControlName="confirmPassword" type="text" placeholder="Confirm Password">
            </div>
            <div>
                <input [ngClass]="{valid:form.valid}" type="submit" [disabled]="form.invalid" value="Submit">
            </div>
        </form>
    </div>
</div>

<app-reset-password *ngIf="requestNewToken" (resetEvent)="hideResetEvent($event)"></app-reset-password>