<ng-container *ngIf="(requestChangePassword$ |async) as info">
    <div class="custom-modal">
        <!--Main Modal-->
        <div class="content shadow-md rounded-xl">
            <!--modal content-->
            <div class="modal-header">
                <h1>Change Password</h1>
            </div>
            <div class="errorMessage" *ngIf="!info.changePasswordSuccess?.success">
                <p>{{info.changePasswordErrror?.message}}</p>
            </div>
            <p style="color: seagreen;font-weight: 700;text-align: center; font-size: 1.3rem; padding: 0.5rem;">
                {{info.changePasswordSuccess?.success}}</p>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="relative">
                        <div class="absolute bottom-[3rem]" *ngIf="fc.oldPassword.invalid && fc.oldPassword.touched">
                            <p class="p-2 w-[100rem]" *ngIf="fc.oldPassword.errors?.required">OldPassword is required
                            </p>
                        </div>
                        <input
                            [ngClass]="{error:fc.oldPassword.touched && fc.oldPassword.invalid,success:fc.oldPassword.valid, touched:!fc.oldPassword.touched}"
                            class="shadow-md rounded-md" type="text" placeholder="Old Password" name="oldPassword"
                            formControlName="oldPassword">
                    </div>
                    <div class="relative">
                        <div class="absolute bottom-[3rem]" *ngIf="fc.newPassword.invalid && fc.newPassword.touched">
                            <p class="p-2 w-[100rem]" *ngIf="fc.newPassword.errors?.required">New Password is required
                            </p>
                            <p class="p-4 w-[100rem]" *ngIf="fc.newPassword.errors?.minlength">Password length should
                                be greater
                                than
                                6
                                characters</p>
                        </div>
                        <input
                            [ngClass]="{error:fc.newPassword.touched && fc.newPassword.invalid,success:fc.newPassword.valid, touched:!fc.newPassword.touched}"
                            class="shadow-md rounded-md" type="password" placeholder="New Password" name="newPassword"
                            formControlName="newPassword">
                    </div>
                    <div class="relative">
                        <div class="absolute bottom-[3rem]"
                            *ngIf="fc.confirmNewPassword.invalid && fc.confirmNewPassword.touched">
                            <p class="p-2 w-[100rem]" *ngIf="fc.confirmNewPassword.errors?.required">Confirm New
                                Password is
                                required
                            </p>
                            <p class="p-4 w-[100rem]" *ngIf="fc.confirmNewPassword.errors?.confirmedValidator">New
                                Password
                                don't
                                match</p>
                        </div>
                        <input
                            [ngClass]="{error:fc.confirmNewPassword.touched && fc.confirmNewPassword.invalid,success:fc.confirmNewPassword.valid, touched:!fc.confirmNewPassword.touched}"
                            class="shadow-md rounded-md" type="password" placeholder="Confirm New Password"
                            name="confirmNewPassword" formControlName="confirmNewPassword">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" [disabled]="form.invalid"
                            [ngClass]="{save:form.valid,notsave:form.invalid}">Save</button>
                        <button (click)="cancelUpdate()" class="cancel">Cancel</button>
                    </div>
                </form>

            </div>


        </div>
    </div>
</ng-container>