<ng-container *ngIf="data$ | async as data">
    <div class="custom-modal">
        <!--Main Modal-->
        <div class="content shadow-md rounded-xl">
            <!--modal content-->
            <div class="modal-header">
                <h1>Create An Account</h1>
                <button (click)="hideSignUpModal()" class="shadow-md rounded-md"> <svg width="49" height="48"
                        viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 8L40.5 40M8.5 40L40.5 8" stroke="black" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg></button>
            </div>
            <div *ngIf="errorMessage" class="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            <div *ngIf="successMessage" class="successMessage">
                <p>{{successMessage}}</p>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="relative">
                        <div class="absolute bottom-[3rem]" *ngIf="fc.email.invalid && fc.email.touched">
                            <p *ngIf="fc.email.errors?.required">Email is required</p>
                            <p *ngIf="fc.email.errors?.email">Invalid Email</p>
                        </div>
                        <input
                            [ngClass]="{error:fc.email.touched && fc.email.invalid,success:fc.email.valid, touched:!fc.email.touched}"
                            class="shadow-md rounded-md" type="text" placeholder="Email" name="email"
                            formControlName="email">
                    </div>
                    <div class="relative">
                        <div class="absolute bottom-[3rem]" *ngIf="fc.firstName.invalid && fc.firstName.touched">
                            <p class="p-2 w-[100rem]" *ngIf="fc.firstName.errors?.required">First name is required</p>
                            <p class="p-2 w-[100rem] lowercase" *ngIf="fc.firstName.errors?.noSpaceValidator">First name
                                must not container
                                white space</p>
                        </div>
                        <input
                            [ngClass]="{error:fc.firstName.touched && fc.firstName.invalid,success:fc.firstName.valid, touched:!fc.firstName.touched}"
                            class="shadow-md rounded-md" type="text" placeholder="First Name" name="firstName"
                            formControlName="firstName">
                    </div>
                    <div class="relative">
                        <div class="absolute bottom-[3rem]" *ngIf="fc.lastName.invalid && fc.lastName.touched">
                            <p class="p-2 w-[100rem]" *ngIf="fc.lastName.errors?.required">Last Name is required</p>
                            <p class="p-2 w-[100rem] lowercase" *ngIf="fc.lastName.errors?.noSpaceValidator">Last name
                                must
                                not
                                container
                                white
                                space</p>
                        </div>
                        <input
                            [ngClass]="{error:fc.lastName.touched && fc.lastName.invalid,success:fc.lastName.valid, touched:!fc.lastName.touched}"
                            class="shadow-md rounded-md" type="text" placeholder="Last Name" name="lastName"
                            formControlName="lastName">
                    </div>
                    <div class="relative">
                        <div class="absolute bottom-[3rem]" *ngIf="fc.address.invalid && fc.address.touched">
                            <p class="p-2 w-[100rem]" *ngIf="fc.address.errors?.required">Address required</p>
                        </div>
                        <input
                            [ngClass]="{error:fc.address.touched && fc.address.invalid,success:fc.address.valid, touched:!fc.address.touched}"
                            class="shadow-md rounded-md" type="text" placeholder="Address" name="address"
                            formControlName="address">
                    </div>
                    <div class="relative">
                        <div class="absolute bottom-[3rem]" *ngIf="fc.password.invalid && fc.password.touched">
                            <p class="p-2 w-[100rem]" *ngIf="fc.password.errors?.required">Password is required</p>
                            <p class="p-4 w-[100rem]" *ngIf="fc.password.errors?.minlength">Password length should
                                be greater
                                than
                                6
                                characters</p>
                        </div>
                        <input
                            [ngClass]="{error:fc.password.touched && fc.password.invalid,success:fc.password.valid, touched:!fc.password.touched}"
                            class="shadow-md rounded-md" type="password" placeholder="Password" name="password"
                            formControlName="password">
                    </div>
                    <div class="relative">
                        <div class="absolute bottom-[3rem]"
                            *ngIf="fc.confirmPassword.invalid && fc.confirmPassword.touched">
                            <p class="p-2 w-[100rem]" *ngIf="fc.confirmPassword.errors?.required">Confirm Password is
                                required
                            </p>
                            <p class="p-4 w-[100rem]" *ngIf="fc.confirmPassword.errors?.confirmedValidator">Password
                                don't
                                match</p>
                        </div>
                        <input
                            [ngClass]="{error:fc.confirmPassword.touched && fc.confirmPassword.invalid,success:fc.confirmPassword.valid, touched:!fc.confirmPassword.touched}"
                            class="shadow-md rounded-md" type="password" placeholder="Confirm Password"
                            name="confirmPassword" formControlName="confirmPassword">
                    </div>
                    <div>
                        <input [ngClass]="{valid:form.valid,disabled:form.invalid}" class="shadow-lg"
                            [disabled]="form.invalid" type="submit" value="submit" />

                    </div>
                </form>
                <p>Already have account? <strong (click)="showLoginModal()">Login</strong></p>
            </div>
        </div>
    </div>
</ng-container>