<ng-container *ngIf="(products$ |async) as product">
    <section id="product-details">
        <div class="product-details">
            <img [src]="product.data?.productUrl" [alt]="product.data?.productName">
            <div class="product-desc">
                <div class="icons">
                    <app-review [value]="product.data?.rating"></app-review>
                    <p> {{product.data?.rating | number:'1.1-1'}} of
                        ({{product.data?.totalRatings}}
                        Reviews)
                    </p>
                </div>
                <div class="desc">
                    <h1> {{product.data?.productName}}</h1>
                    <h4>{{product.data?.price| currency}}</h4>
                    <h4>{{product.data?.category}}'s Shoes</h4>
                    <p>{{product.data?.description}}</p>
                    <button>add to cart</button>
                </div>

            </div>
        </div>
        <!-- review section -->
        <div class="product-review">
            <div class="reviews-user" *ngIf="product.user?.email">
                <div>
                    <button (click)="addReview()">add review</button>
                </div>
                <div>
                    <div class="user-info">
                        <img *ngIf="product.user?.profile" [src]="product.user?.profile" alt="user">
                        <img *ngIf="product.user?.profile === null" src="../../../assets/no-profile.png" alt="user">
                        <div class="user-names">
                            <span>{{product.user?.firstName}}</span>
                            <span> {{product.user?.lastName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <app-star-rating [productId]="product.data?.id" *ngIf="addingReview"></app-star-rating>
            <ng-container *ngIf="(productReviews$ |async) as reviews">
                <div class="reviews-list" *ngIf="reviews.content?.length else noReview">
                    <div class="header-review">
                        <h1><span class="text-green-900 text-bold">{{product.data?.totalRatings}} Reviews</span> for
                            {{product.data?.productName}}</h1>
                    </div>
                    <div class="reviviews-data" *ngIf="reviews.content else noReview">
                        <ul *ngFor="let review of reviews.content">
                            <li>
                                <div class="rating-info">
                                    <div>
                                        <app-review [value]="review.rating"></app-review>
                                    </div>
                                    <div>
                                        <p class="comment">{{review.comment}}</p>
                                    </div>
                                </div>

                                <div class="rating-user">
                                    <div>
                                        <img *ngIf="review.reviewUserResponse?.profileImage === null"
                                            src="../../../assets/no-profile.png" alt="profile" class="img-center">
                                        <img *ngIf="review.reviewUserResponse?.profileImage"
                                            [src]="review.reviewUserResponse?.profileImage"
                                            [alt]="review.reviewUserResponse?.firstName">
                                        <p>{{review.reviewUserResponse?.firstName}}
                                            {{review.reviewUserResponse?.lastName}}
                                        </p>
                                    </div>
                                    <p class="time">{{review.createdAt | date :'short'}}</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="pagination-review" *ngIf="reviews.content?.length">
                        <button [disabled]="reviews.first" (click)="prevReviewsByPage(product.data?.id)"
                            class="prev">PREV</button>
                        <h4>{{reviewCurrentPage}}</h4>
                        <button [disabled]="reviews.last" (click)="nextReviewsByPage(product.data?.id)"
                            class="next">NEXT</button>
                    </div>
                </div>
                <ng-template #noReview>
                    <h1 class="text-center m-[2rem] font-[500] text-2xl">{{product.data?.productName}}
                        has
                        {{reviews.content?.length}}
                        reviews
                    </h1>
                </ng-template>
            </ng-container>
        </div>

        <!-- recommended -->
        <ng-container *ngIf="(productRecommendation$ |async) as productRecom">
            <div class="products" *ngIf="productRecom.content?.length">
                <div class="recommended-header">
                    <h3>Recommended Products</h3>
                </div>
                <ul>
                    <li *ngFor="let product of productRecom.content">
                        <div class="product-image">
                            <img [src]="product.productUrl" [alt]="product.productName">
                        </div>
                        <div class="ratings">
                            <div class="icons">
                                <app-review [value]="product.rating"></app-review>
                                <p>{{product.rating |number:'1.1-1'}} of 5 ({{product.totalRatings}} reviews)
                                </p>
                            </div>
                        </div>
                        <h2>{{product.price | currency}}</h2>
                        <h3>{{product.productName}}</h3>
                        <h3>{{product.category}}'s Shoes</h3>
                        <div class="actions">
                            <button (click)="productDetails(product.id)" class="view">view</button>
                            <button class="add-cart">add to cart</button>
                        </div>
                    </li>
                </ul>
                <div class="pagination" *ngIf="productRecom.content?.length">
                    <button [disabled]="productRecom.first" (click)="prevProductsByPage(product?.data?.id)"
                        class="prev">PREV</button>
                    <h4>{{productCurrentPage}}</h4>
                    <button [disabled]="productRecom?.last" (click)="nextProductsByPage(product.data?.id)"
                        class="next">NEXT</button>
                </div>
            </div>
        </ng-container>
    </section>
</ng-container>