<ng-container *ngIf="(productsList$ | async) as products">
    <section>
        <div class="new-arrival">
            <div class="products">
                <div class="new-arrival-header">
                    <h3>New Arrival</h3>
                    <div>
                        <button [ngClass]="{active:isMenCategory}" (click)="byCategory('men')">Men</button>
                        <button [ngClass]="{active:isWomenCategory}" (click)="byCategory('women')">Women</button>
                        <button [ngClass]="{active:isKidsCategory}" (click)="byCategory('kids')">Kids</button>
                        <button *ngIf="isCategoryFilter" [ngClass]="{reset: isCategoryFilter}"
                            (click)="resetFilter()">Reset</button>
                    </div>
                </div>
                <ul>
                    <li *ngFor="let product of newArrival">
                        <div class="product-image">
                            <img [src]="product.productUrl" [alt]="product.productName">
                        </div>
                        <div class="ratings">
                            <div class="start-rating">
                                <app-review [value]="product.rating"></app-review>
                            </div>
                            <p>{{product.rating | number:'1.1-1'}} of 5 ({{product.totalRatings}} Reviews
                                )
                            </p>
                        </div>
                        <h2>{{product.price | currency}}</h2>
                        <h3>{{product.productName}}</h3>
                        <h3>{{product.category}}'s Shoes</h3>
                        <div class="actions">
                            <button [routerLink]="['/product-details',product.id]" routerLinkActive="router-link-active"
                                class="view">view</button>
                            <button class="add-cart">add to cart</button>
                        </div>
                    </li>
                    <div class="pagination">
                        <button [disabled]="isFirstPage" (click)="prevProductsByPage()" class="prev">PREV</button>
                        <h4>{{currentPage}}</h4>
                        <button [disabled]="isLastPage" (click)="nextProductsByPage()" class="next">NEXT</button>
                    </div>
                </ul>
            </div>
            <div class="top-rated" *ngIf="products.recentUpdates">
                <app-recently-updated message="paci" [recentProducts]="recentlyUpdated"></app-recently-updated>
            </div>
        </div>
    </section>
</ng-container>