<div class="custom-modal">
    <!--Main Modal-->
    <div class="content shadow-md rounded-md">
        <!--modal content-->
        <div class="modal-header">
            <h1>Rest Password</h1>
            <p class="text-center p-3 font-medium text-gray-500">We will send an email to your box, just follow
                that link to set your
                new
                password.</p>
            <button (click)="closeResetForm()" class="shadow-md rounded-md"> <svg width="49" height="48"
                    viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.5 8L40.5 40M8.5 40L40.5 8" stroke="black" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg></button>
        </div>
        <div class="message">
            <h1 [ngClass]="{'success':isSuccess,'error':isError}">{{message}}</h1>
        </div>
        <div class="modal-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div>
                    <input [ngClass]="{error:Email.touched && Email.invalid,success:Email.valid,touched:!Email.touched}"
                        class="shadow-md rounded-md" type="text" name="email" formControlName="email"
                        placeholder="username or email">
                    <div *ngIf="Email.invalid && Email.touched">
                        <p class="p-2" *ngIf="Email.errors?.required">Email is required</p>
                        <p class="p-2" *ngIf="Email.errors?.email">Invalid Email</p>
                    </div>
                </div>
                <div>
                    <input [ngClass]="{disabled:resetPasswordForm.invalid, valid:resetPasswordForm.valid}"
                        [disabled]="resetPasswordForm.invalid" class="shadow-lg" type="submit"
                        value="Forgot Password" />
                </div>
            </form>
            <div class="actions">
                <p (click)="backToLogin()"
                    class="rounded-sm shadow-md shadow-gray-200 text-center cursor-pointer bg-[#fff] p-2 m-2 ring-1 ring-green-900 w-[10rem]">
                    Back to
                    login?</p>
            </div>
        </div>
    </div>
</div>