<ng-container *ngIf="(product$ |async) as product">
    <div class="custom-modal" *ngIf="isAddingProduct || isUpdatingProduct">
        <div class="content">
            <div class="modal-header">
                <!-- modal header-->
                <h1 *ngIf="isUpdatingProduct" class="p-[3rem]">Update Product</h1>
                <h1 *ngIf="isAddingProduct" class="p-[3rem]">Add Product</h1>
                <button (click)="closeProductModal()" class="rounded-lg shadow-md shadow-gray-500">
                    <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 8L40.5 40M8.5 40L40.5 8" stroke="black" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>

            {{productData|json}}
            <div *ngIf="(addProductResponse$ |async) as response" class="successMessage">
                <p>{{response.success}}</p>

            </div>
            <!-- modal body-->
            <div class="modal-body mt-[2rem]">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="fields">
                        <div class="left-form">
                            <input [ngClass]="{error:fc.productName.touched && fc.productName.invalid, 
                                    success:!fc.productName.touched || fc.productName.valid}" name="productName"
                                formControlName="productName" class="shadow-md shadow-gray-400 rounded-md" type="text"
                                id="name" placeholder="Product Name">
                            <label class="images" for="file">Product Image
                                <input #filePiker (change)="onImagePicked($event)" type="file">
                                <img *ngIf="isUpdatingProduct" [src]="product.data?.productUrl"
                                    [alt]="product.data?.productName">
                            </label>


                            <input [ngClass]="{error:fc.category.touched && fc.category.invalid, 
                                success:!fc.category.touched || fc.category.valid}"
                                class="shadow-md shadow-gray-400 rounded-md" type="text" id="category" name="category"
                                formControlName="category" placeholder="category">
                        </div>

                        <div class="right-form">
                            <textarea [ngClass]="{error:fc.description.touched && fc.description.invalid, 
                                success:!fc.description.touched || fc.description.valid}"
                                class="shadow-md shadow-gray-400 rounded-md" placeholder="Description"
                                formControlName="description" name="description"></textarea>
                            <div class="stock-price mt-[2rem]">
                                <input [ngClass]="{error:fc.price.touched && fc.price.invalid, 
                                    success:!fc.price.touched || fc.price.valid}" name="price" formControlName="price"
                                    class="shadow-md shadow-gray-400 rounded-md" type="text" id="price"
                                    placeholder="Price">
                                <input [ngClass]="{error:fc.stock.touched && fc.stock.invalid, 
                                    success:!fc.stock.touched || fc.stock.valid}" name="stock" formControlName="stock"
                                    class="shadow-md shadow-gray-400 rounded-md" type="text" id="stock"
                                    placeholder="Stock">
                            </div>
                        </div>

                    </div>
                    <div>
                        <input *ngIf="isAddingProduct" [ngClass]="{valid:form.valid,invalid:form.invalid}" type="submit"
                            value="Add Product">
                        <input *ngIf="isUpdatingProduct" [ngClass]="{valid:form.valid,invalid:form.invalid}"
                            type="submit" value="Update Product">

                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-container>