<ng-container *ngIf="user$ | async as user">
    <div class="custom-modal">
        <div class="content rounded-lg shadow-gray-500 shadow-lg">
            <div class="modal-header">
                <h3>{{message}}</h3>
            </div>
            <div class="modal-body">
                <button (click)="approveDelete()" class="delete shadow-md shadow-gray-400 shadow-md">Yes, I'm
                    sure</button>
                <button (click)=" cancelDelete()"
                    class="cancel shadow-md shadow-gray-400 shadow-md ring-1 ring-green-900">No, Cancel</button>
            </div>

        </div>

    </div>
</ng-container>