/* PRODUCTS */
.product-image{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended{
    display: flex;
    gap: 3rem;
    width: 100rem;
    margin: 0 auto;
    border-radius: 0.6rem;
    min-height: 100%;
}

.recommended .products{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 6rem;
    position: relative;
    width: 70%;
    background-color: #fff;
    border-radius: 0.4rem;
    
  
  }

  /* recommended header */
  .recommended .products .recommended-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
}

.recommended .products .recommended-header h3{
    font-size: 1.6rem;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
}

.recommended .products .recommended-header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.recommended .products .recommended-header div button {
    padding: 0.6rem 2rem;
    background-color: #fff;
    border: 0.06rem solid seagreen;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
}

.recommended .products .recommended-header div button.active{
    background-color: seagreen;
    color: #fff;
}
.recommended .products .recommended-header div button.reset{
    background-color: #e32b3a;
    color: #F4FDFF;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
}

.recommended .products ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.recommended .products ul li{
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
}

.recommended .products ul li h2{
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 0.3rem;
    color: darkgreen;
}
.recommended .products ul li h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0.3rem;
}

.ratings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.start-rating{
    display: flex;
}

.ratings p {
    font-size: 1rem;
}

/* actions buttons */
.recommended .actions button {
    padding: 0.4rem 2rem;
    background-color: #fff;
    border: 0.06rem solid seagreen;
    margin: 1rem 0.4rem;
    border-radius: 0.4rem;
}
.recommended .actions button:hover{
    background-color: darkgreen;
    color: #f4f4f5;
}
/* pagination */
.products .pagination{
    display: flex;
    gap: 1rem;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    align-items: center;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.pagination button{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color:#FFF;
    color: #1F1A1A;
    padding: 0.3rem 1rem;
    font-family: "Raleway",sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    border:0.06rem solid seagreen;
    border-radius: 0.4rem;
}

.pagination button:disabled {
    opacity: 0.3;
    cursor: no-drop;
    pointer-events: all;
}

.pagination h4{
    font-family: "Raleway",sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}


/* top rated products */

.top-rated{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 50%;
    padding: 1rem;
}

