<ng-container *ngIf="(productsRecommendationData$ | async) as products">
    <section>
        <div class="recommended">
            <div class="products">
                <div class="recommended-header">
                    <h3>Recommended </h3>
                    <div>
                        <button [ngClass]="{active:isMenCategory}" (click)="byCategory('men')">Men</button>
                        <button [ngClass]="{active:isWomenCategory}" (click)="byCategory('women')">Women</button>
                        <button [ngClass]="{active:isKidsCategory}" (click)="byCategory('kids')">Kids</button>
                        <button *ngIf="isCategoryFilter" [ngClass]="{reset: isCategoryFilter}"
                            (click)="resetFilter()">Reset</button>
                    </div>
                </div>
                <ul>
                    <div *ngIf="products.content.length>0 then productsContent; else noProducts"></div>
                    <div class="pagination">
                        <button [disabled]="products.first" (click)="prevProductsByPage()" class="prev">PREV</button>
                        <h4>{{currentPage}}</h4>
                        <button [disabled]="products.last" (click)="nextProductsByPage()" class="next">NEXT</button>
                    </div>
                </ul>
                <ng-template #productsContent>
                    <li *ngFor="let product of products.content">
                        <div class="product-image">
                            <img [src]="product.productUrl" [alt]="product.productName">
                        </div>
                        <div class="ratings">
                            <div class="start-rating">
                                <app-review [value]="product.rating"></app-review>
                            </div>
                            <p>{{product.rating |number:'1.1-1'}} of 5 ({{product.totalRatings}} Reviews
                                )
                            </p>
                        </div>
                        <h2>{{product.price| currency}}</h2>
                        <h3>{{product.productName}}</h3>
                        <h3>{{product.category}}'s Shoes</h3>
                        <div class="actions">
                            <button [routerLink]="['/product-details',product.id]" class="view">view</button>
                            <button class="add-cart">add to cart</button>
                        </div>
                    </li>
                </ng-template>
                <ng-template #noProducts>
                    <p class=" noProducts">There's not Products to show...</p>
                </ng-template>
            </div>
            <div class="top-rated">
                <app-top-sold></app-top-sold>
            </div>
        </div>
    </section>
</ng-container>