<div class="check-page">
    <div class="actions">
        <button (click)="orderInfo('orderInfo')" class="rounded-md shadow-md shadow-gray-400">
            <svg *ngIf="checkoutFirstStep" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24">
                <g id="evaArrowBackFill0">
                    <g id="evaArrowBackFill1">
                        <path id="evaArrowBackFill2" fill="currentColor"
                            d="M19 11H7.14l3.63-4.36a1 1 0 1 0-1.54-1.28l-5 6a1.19 1.19 0 0 0-.09.15c0 .05 0 .08-.07.13A1 1 0 0 0 4 12a1 1 0 0 0 .07.36c0 .05 0 .08.07.13a1.19 1.19 0 0 0 .09.15l5 6A1 1 0 0 0 10 19a1 1 0 0 0 .64-.23a1 1 0 0 0 .13-1.41L7.14 13H19a1 1 0 0 0 0-2Z" />
                    </g>
                </g>
            </svg>
            Order Info

        </button>
    </div>
</div>
<div [ngSwitch]="checkoutStep">
    <div *ngSwitchDefault>
        <form>
            <div>
                <label for="name">First Name
                    <input class="shadow-md shadow-gray-400 rounded-md" type="text" placeholder="First Name">
                </label>

                <label for="name">Last Name
                    <input class="shadow-md shadow-gray-400 rounded-md" type="text" placeholder="Last Name">
                </label>

            </div>
            <div>
                <label for="email">Email
                    <input class="shadow-md shadow-gray-400 rounded-md" type="text" placeholder="email">
                </label>

                <label for="address">Shipping Address
                    <input class="shadow-md shadow-gray-400 rounded-md" type="text" placeholder="address">
                </label>

            </div>
            <button (click)="checkNextPayment('payment')" class="rounded-md shadow-md shadow-gray-400">Payement
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M14 16.94v-4H5.08l-.03-2.01H14V6.94l5 5Z" />
                </svg>
            </button>
        </form>
    </div>
    <div *ngSwitchCase="'payment'">
        <form>
            <label for="card-number">Card Number
                <input class="shadow-md shadow-gray-400 rounded-md" type="text" placeholder="1234 1234 1234 1234">
            </label>

            <div>
                <label for="expiry">Expiry
                    <input class="shadow-md shadow-gray-400 rounded-md" type="text" id="expiry" placeholder="MM/YY">
                </label>
                <label for="csv">CSV
                    <input class="shadow-md shadow-gray-400 rounded-md" type="text" id="csv" placeholder="CSV">
                </label>
            </div>
            <div>
                <label for="country">Country
                    <select class="shadow-md shadow-gray-400 rounded-md" id="country">
                        <option value="PHP">Philippines</option>
                        <option value="USD">United States</option>
                    </select>
                </label>
                <label for="postalcode">Postal Code
                    <input class="shadow-md shadow-gray-400 rounded-md" type="text" id="postalcode" placeholder="90210">
                </label>
            </div>

            <button class="shadow-md shadow-gray-400 rounded-md">COMPLETE PAYMENT
            </button>
        </form>
    </div>
</div>