<ng-container *ngIf="recentProducts">
    <h1>RECENTLY UPDATED</h1>
    <div *ngIf="recentProducts.length>0 then recentlyData; else noData"></div>

    <div class="pagination flex gap-2" *ngIf="recentProducts.length>0">
        <button [disabled]="offset ===0" (click)="prevProductsByPage()" class="prev">PREV</button>
        <h4>{{currentPage}}</h4>
        <button [disabled]="offset === 5" (click)="nextProductsByPage()" class="next">NEXT</button>
    </div>
</ng-container>

<ng-template #recentlyData>
    <table>
        <tbody>
            <tr *ngFor="let product of recentProducts; let order = index">
                <td class="relative">
                    <img [src]="product.productUrl" [alt]="product.productName">
                </td>
                <td>{{product.productName}}</td>
                <td>
                    <strong>{{product.rating |number:'1.1-1'}}</strong>
                </td>
                <td>{{product.price |currency}}</td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #noData>
    <p class="text-center m-[2rem]">Ther is no recent update products</p>
</ng-template>